.geral{
    display: flex;
    justify-content: space-between;
}

.tudo{
    margin-top: 5rem;
    background-color: blueviolet;
    height: 20rem;
    width: 100%;
}

.termos{
    display: flex;
    justify-content: space-around;
    margin-top: -3rem;
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
}

.icones{
    margin-top: 2rem;
    margin: 2.5rem;
}

.icon{
    margin-left: 3rem;
    cursor: pointer;
}

.logo{
    margin-top: -7rem;
}